.login-container {
  background: url(../../../assets/login-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.1s ease;

  &.second {
    background: url(../../../assets//login-background-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .login-main {
    background: #fff;
    color: #212121;
    height: 96vh;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 350px;
    max-width: 350px;

    .welcome-text {
      padding: 10px;
    }

    form {
      width: 100%;
      place-content: flex-end;
      display: flex;
      height: 65%;
      flex: 1 1 100%;

      .MuiButton-label {
        height: 40px;
      }
    }
  }

  .login-hero {
    position: absolute;
  }
}

.login-btn,
.signup-btn {
  margin-top: 25px !important;
}

@media all and (max-width: 1690px) {
}
@media all and (max-width: 1280px) {
  .login-container {
    padding: 20px;
  }

  .login-main {
    margin: 0px auto;
    height: 88vh !important;
  }
}
