.form-errors-container {
  display: inline-flex;
  max-width: 80%;
  text-align: initial;
  margin: 0 auto;
  font-size: 0.8rem;
  position: relative;
  top: -35px;
  background: rgba(251, 239, 98, 0.22);
  border-radius: 5px;
  padding-right: 5px;

  .MuiIcon-root {
    color: #f44336;
    margin: 15px 5px;
  }
}

.password-strength-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  height: 0px;

  progress {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    position: relative;
    top: -22px;
  }

  progress::-moz-progress-bar {
    background: #fff;
  }

  &.strength-1 {
    progress::-webkit-progress-value {
      background: #e57373;
    }
  }

  &.strength-2 {
    progress::-webkit-progress-value {
      background: #ffd54f;
    }
  }

  &.strength-3 {
    progress::-webkit-progress-value {
      background: #dce775;
    }
  }

  &.strength-4 {
    progress::-webkit-progress-value {
      background: #81c784;
    }
  }

  .password-feedback {
    color: inherit;
    font-size: 12px;
    position: relative;
    top: -25px;
  }
}
