@import "./components/session";
@import "./components/shared";

body {
  margin: 0px;
  font-family: "Roboto";
  font-weight: 400;
}

.sarif {
  font-family: "Prata", serif;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
}

/* cards & shadows */
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  padding: 1rem;
  position: relative;
}

.card.hoverable {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card.hoverable:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.link {
  font-weight: 500;
  font-size: 16px;
  color: #f06292;
  &.clickable {
    &:hover {
      cursor: pointer;
    }
  }
}

.text-center {
  text-align: center;
}

// flex
.row-container {
  display: flex;
}

.column-container {
  display: flex;
  flex-direction: column;
}

mark.highlight {
  position: relative;
  background-color: rgba(243, 243, 27, 0.84);
  border-top-right-radius: 28%;
  border-bottom-right-radius: 60%;
  border-bottom-left-radius: 90%;
  border-top-left-radius: 19%;

  &.fade {
    background-color: rgba(251, 239, 98, 0.54);
    &:before {
      background-color: rgba(251, 239, 98, 0.54);
      left: -15px;
    }
  }

  &:before {
    height: 1.25em;
    top: 5px;
    left: -1px;
    background: rgba(232, 232, 63, 0.5);
    border-top-right-radius: 30%;
    border-bottom-right-radius: 17%;
    border-bottom-left-radius: 24%;
    border-top-left-radius: 16%;
    transform: rotate(1deg);
  }

  &:after {
    height: 0.8em;
    top: 0.3em;
    right: -4px;
    background: rgba(232, 232, 63, 0.8);
    border-top-right-radius: 20%;
    border-bottom-right-radius: 90%;
    border-bottom-left-radius: 28%;
    transform: rotate(-1deg);
  }

  &.dark {
    background-color: #66b5da8a;
    color: #fff;

    &:before {
      background-color: #66b5da8a;
    }

    &:after {
      background-color: #66b5da8a;
    }
  }
}
